@model IIS.Models.Equipment

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Equipment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManufactureYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManufactureYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PurchaseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxRentalTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxRentalTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Studio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Studio.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EquipmentType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EquipmentType.Id)
        </dd>
    </dl>
    <h4>Rental Day Intervals</h4>
    <hr />

    @if (Model.RentalDayIntervals != null && Model.RentalDayIntervals.Any())
    {
    <div class="list-group">
        @foreach (var interval in Model.RentalDayIntervals)
        {
        <div class="list-group-item">
            <p><strong>Day of Week:</strong> @interval.DayOfWeek</p>
            <p><strong>Place:</strong> @interval.Place</p>
            <p><strong>Start Time:</strong> @interval.StartTime.ToString(@"hh\:mm")</p>
            <p><strong>End Time:</strong> @interval.EndTime.ToString(@"hh\:mm")</p>
        </div>
        }
    </div>
    }
    else
    {
    <p>No rental intervals available.</p>
    }
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
