@model IEnumerable<IIS.Models.Equipment>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManufactureYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxRentalTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Studio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EquipmentType)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManufactureYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseDate)
            </td>
            <td>
                @(item.MaxRentalTime != null ? item.MaxRentalTime?.Days + " days" : "")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Studio.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EquipmentType.Name)
            </td>
            <td>
                @if (User.IsInRole("Admin") || User.IsInRole("StudioAdmin") || (User.IsInRole("Teacher") &&  User.Claims.FirstOrDefault(c => c.Type == "AssignedStudioId")?.Value == item.StudioId.ToString()) )
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> <span> | </span>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> <span> | </span>
                }
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-controller="Borrow" asp-action="Create" asp-route-id="@item.Id">Borrow</a>
            </td>
        </tr>
    }
    </tbody>
</table>