@using IIS.Enums
@using IIS.Extensions
@model IEnumerable<IIS.ViewModels.ListBorrowViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EquipmentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FromDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ToDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EquipmentName)
            </td>

            <td>
                <a asp-controller="User" asp-action="Details">@item.UserEmail</a>
            </td>
            <td>
                @item.FromDate.ToShortDateString()
            </td>
            <td>
                @item.ToDate.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                @if (@item.State.NextPossibleStates().Count > 0)
                {
                    @("|")
                    <a asp-action="ChangeState" asp-route-id="@item.Id">Change state</a>
                }
            </td>
        </tr>
    }
    </tbody>
</table>